/***********************************************************MENU AGENDA************************************************/
.menu-busqueda{
  z-index: 1;
  top: 59px;
  position: fixed;
  right: 0;
  background: white;
  height: 100%;
}

.menu-agenda{
  color: black;
}
