<div class="text-black panel-tarjeta-agenda m-b-1">
  <div class="col-md-3 col-lg-2 float-left m-t-2 p-0 m-l-1">
    <img class="" src="../../assets/img/chat@3x.png" width="24" height="24">
  </div>
  <div class="col-lg-7 p-t-2 float-left p-l-0 p-r-0">
    <div class="nombre-menu-agenda">Nombre apellido</div>
    <div class="text-uppercase tipo-de-cita-menu-agenda">1º cita presencial</div>
  </div>
  <div class="col-lg-2 float-left p-0 m-t-2"><span>10:00</span></div>
</div>
<div class="text-black panel-tarjeta-agenda m-b-1">
  <div class="col-md-3 col-lg-2 float-left m-t-2 p-0 m-l-1">
    <img class="" src="../../assets/img/chat@3x.png" width="24" height="24">
  </div>
  <div class="col-lg-7 p-t-2 float-left p-l-0 p-r-0">
    <div class="nombre-menu-agenda">Nombre apellido</div>
    <div class="text-uppercase tipo-de-cita-menu-agenda">1º cita presencial</div>
  </div>
  <div class="col-lg-2 float-left p-0 m-t-2"><span>10:00</span></div>
</div>
<div class="text-black panel-tarjeta-agenda m-b-1">
  <div class="col-md-3 col-lg-2 float-left m-t-2 p-0 m-l-1">
    <img class="" src="../../assets/img/chat@3x.png" width="24" height="24">
  </div>
  <div class="col-lg-7 p-t-2 float-left p-l-0 p-r-0">
    <div class="nombre-menu-agenda">Nombre apellido</div>
    <div class="text-uppercase tipo-de-cita-menu-agenda">1º cita presencial</div>
  </div>
  <div class="col-lg-2 float-left p-0 m-t-2"><span>10:00</span></div>
</div>
<div class="text-black panel-tarjeta-agenda m-b-1">
  <div class="col-md-3 col-lg-2 float-left m-t-2 p-0 m-l-1">
    <img class="" src="../../assets/img/chat@3x.png" width="24" height="24">
  </div>
  <div class="col-lg-7 p-t-2 float-left p-l-0 p-r-0">
    <div class="nombre-menu-agenda">Nombre apellido</div>
    <div class="text-uppercase tipo-de-cita-menu-agenda">1º cita presencial</div>
  </div>
  <div class="col-lg-2 float-left p-0 m-t-2"><span>10:00</span></div>
</div>
<div class="text-black panel-tarjeta-agenda m-b-1">
  <div class="col-md-3 col-lg-2 float-left m-t-2 p-0 m-l-1">
    <img class="" src="../../assets/img/chat@3x.png" width="24" height="24">
  </div>
  <div class="col-lg-7 p-t-2 float-left p-l-0 p-r-0">
    <div class="nombre-menu-agenda">Nombre apellido</div>
    <div class="text-uppercase tipo-de-cita-menu-agenda">1º cita presencial</div>
  </div>
  <div class="col-lg-2 float-left p-0 m-t-2"><span>10:00</span></div>
</div>


<!--
<p>
  <button
    [ngClass]="{si: estadoPositivo, no: !estadoPositivo}"
    (click)="cambiaEstado()"
  >disponible</button>
</p>
<li *ngFor="let n of list" [class.active]="clicked === n"
    (click)="clicked = (clicked === n ? null :n)">
  <a id="disponible">disponible</a>
</li>
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="enable">
      mmm
    </mat-button-toggle>
    <mat-button-toggle value="disabled">
      <mat-icon>format_align_center</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="right">
      <mat-icon>format_align_right</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="justify" disabled>
      <mat-icon>format_align_justify</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

<button mat-raised-button>PRIMARY</button>
<button mat-raised-button color="accent">PRIMARY</button>
<button mat-raised-button color="warn">PRIMARY</button>

<button class="prueba">hola</button>
<button class="2">que</button>
<button class="3">tal</button>
<body id="pagIndex">
<nav>
  <ul>
    <li id="nav1"><a href="#">Inicio</a></li>
    <li id="nav2"><a href="#">Contacto</a></li>
  </ul>
</nav>
-->
