<img class="img-fluid" src="../../assets/img/calendario.png" width="528px" height="612px">
<div class="row m-1 text-black">
  <span>09:10 AM</span>
  <span class="linea-divisoria-agenda"></span>
</div>
<div class="text-black panel-tarjeta-agenda">
  <div class="col-lg-10 p-t-2 float-left">
    <div class="nombre-menu-agenda">Nombre apellido</div>
    <div class="text-uppercase tipo-de-cita-menu-agenda">1º cita presencial</div>
  </div>
  <div class="col-lg-2 float-left">a</div>
</div>

<div class="row m-1 text-black">
  <span>10:00 AM</span>
  <span class="linea-divisoria-agenda"></span>
</div>


<div class="row m-1 text-black">
  <span>11:00 AM</span>
  <span class="linea-divisoria-agenda"></span>
</div>
<div class="text-black panel-tarjeta-agenda">
  <div class="col-lg-10 p-t-2 float-left">
    <div class="nombre-menu-agenda">Nombre apellido</div>
    <div class="tipo-de-cita-menu-agenda text-uppercase">1º cita presencial</div>
  </div>
  <div class="col-lg-2 float-left">a</div>
</div>

<div class="row m-1 text-black">
  <span>12:00 AM</span>
  <span class="linea-divisoria-agenda"></span>
</div>
<div class="text-black panel-tarjeta-agenda">
  <div class="col-lg-10 p-t-2 float-left">
    <div class="nombre-menu-agenda">Nombre apellido</div>
    <div class="tipo-de-cita-menu-agenda text-uppercase">1º cita presencial</div>
  </div>
  <div class="col-lg-2 float-left">a</div>
</div>
