<mat-drawer-container class="settings-body">
  <mat-drawer class="menu-doctor" mode="side" opened="true">
    <div class="container">
      <div class="row p-t-2">
        <div class="circulo-foto-doctora">
          <a class="icono-online-doctora">
            <img src="../../assets/img/online@3x.png" width="12" height="12" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="contenido-ajustes">
    <img src="../../assets/img/doctor.jpg"class="foto-doctor-ajustes img-fluid">
    <div class="container-fluid nombre-doctor-ajustes col-lg-12">
      <div class="col-lg-12"></div>

    </div>
    <div class="linea-divisoria-ajustes-container col-lg-12"></div>
    <div class="descripcion-ajustes-doctor col-lg-6 offset-lg-4 col-xl-4 offset-xl-3 p-t-4">
      Médico tramatólogo en Hospital Santa María de la cabeza y médico adjunto traumatólogo en El Centro Médico Conde Duque con más de 10 años de experiencia. Especialidad en traumatismos craneoencefálico.
    </div>
<!--Lista de datos de ajustes -->
    <div class="lista-de-datos-ajustes col-lg-12 col-xl-10 offset-xl-1">
      <!--datos personales -->
      <div class="col-lg-4 col-xl-3 tabla-ajustes-doctor">
        <p class="linea-divisoria-items-ajustes">Datos personales</p>
        <p>Número de colegiado : 058920694</p>
        <p>monica.granados@sanitas.es</p>
        <p>+34 643 654 551</p>
        <p>Idioma predefinido: Español</p>
        <p>(GTM + 01:00) Bruselas, Copenhague, Madrid</p>
        <!--<mat-list>
          <mat-list-item class="linea-divisoria-items-ajustes"> Datos personales </mat-list-item>
          <mat-list-item> Número de colegiado : 058920694 </mat-list-item>
          <mat-list-item> monica.granados@sanitas.es</mat-list-item>
          <mat-list-item> +34 643 654 551</mat-list-item>
          <mat-list-item> Idioma predefinido: Español </mat-list-item>
          <mat-list-item> (GTM + 01:00) Bruselas, Copenhague, Madrid </mat-list-item>
        </mat-list>-->
      </div>
      <!--idiomas -->
      <div class="col-lg-4 col-xl-3 tabla-ajustes-doctor linea-divisoria-items-ajustes-lateral">
        <ul class="linea-divisoria-items-ajustes">Idiomas</ul>
          <li>Castellano</li>
          <li>Inglés</li>
          <li>Alemán</li>
        <p class="linea-divisoria-items-ajustes">Dispositivos</p>
        <div class="col-md-12 col-lg-12 col-xl-10 offset-xl-1">
          <div class="col-md-4 col-lg-4 col-xl-3 float-left">
            <div class="circulo-mis-dispositivos-activo float-left">
              <img class="imagen-circulo-dispositivo" src="../../assets/img/volume.png" width="24" height="24">
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-xl-3 float-left">
            <div class="circulo-mis-dispositivos-activo float-left">
              <img class="imagen-circulo-dispositivo" src="../../assets/img/volume.png" width="24" height="24">
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-xl-3 float-left">
            <div class="circulo-mis-dispositivos-noactivo float-left">
              <img class="imagen-circulo-dispositivo" src="../../assets/img/volume.png" width="24" height="24">
            </div>
          </div>
        </div>
      </div>
      <!--notificaciones -->
      <div class="col-lg-4 col-xl-3 tabla-ajustes-doctor">
        <p class="linea-divisoria-items-ajustes">Notificaciones</p>
        <p>Gestione aquí el sonido de las notificaciones</p>
        <div class="row col-lg-10 col-xl-8">
          <div class="col-xl-12 p-b-1">
            <div class="float-left">
              <h6>Nueva consulta</h6>
            </div>
            <div class="col-xl-2 p-1 float-right linea-peticiones-activa-ajustes-notificaciones">
              <div class="circulo-linea-activa-peticiones-ajustes-notificaciones"></div>
            </div>
          </div>
          <div class="col-xl-12 p-b-1">
            <div class="float-left">
              <h6>Paciente conectado</h6>
            </div>
            <div class="col-xl-2 p-1 float-right linea-peticiones-noactiva-ajustes-notificaciones">
              <div class="circulo-linea-noactiva-peticiones-ajustes-notificaciones"></div>
            </div>
          </div>
          <div class="col-xl-12 p-b-1">
            <div class="float-left">
              <h6>Urgencia asignada</h6>
            </div>
            <div class="col-xl-2 p-1 float-right linea-peticiones-noactiva-ajustes-notificaciones">
              <div class="circulo-linea-noactiva-peticiones-ajustes-notificaciones"></div>
            </div>
          </div>
          <div class="col-xl-12 p-b-1">
            <div class="float-left">
              <h6>Mensaje nuevo</h6>
            </div>
            <div class="col-xl-2 p-1 float-right linea-peticiones-activa-ajustes-notificaciones">
              <div class="circulo-linea-activa-peticiones-ajustes-notificaciones"></div>
            </div>
          </div>
          <div class="col-xl-12 p-b-1">
            <div class="float-left">
              <h6>Consulta cancelada</h6>
            </div>
            <div class="col-xl-2 p-1 float-right linea-peticiones-noactiva-ajustes-notificaciones">
              <div class="circulo-linea-noactiva-peticiones-ajustes-notificaciones"></div>
            </div>
          </div>
          <div class="col-xl-12 p-b-1">
            <div class="float-left">
              <h6>Otra notificación</h6>
            </div>
            <div class="col-xl-2 p-1 float-right linea-peticiones-noactiva-ajustes-notificaciones">
              <div class="circulo-linea-noactiva-peticiones-ajustes-notificaciones"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

