<mat-card class="example-card">
  <div class="mensaje-paciente m-b-2 m-t-2 p-t-2 p-b-2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Maria Hernández Yus</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet</mat-card-subtitle>
    </mat-card-header>
  </div>
  <div class="mensaje-paciente m-b-2 m-t-2 p-t-2 p-b-2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Maria Hernández Yus</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet</mat-card-subtitle>
    </mat-card-header>
  </div>
  <div class="mensaje-paciente m-b-2 m-t-2 p-t-2 p-b-2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Maria Hernández Yus</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet</mat-card-subtitle>
    </mat-card-header>
  </div>
  <div class="mensaje-paciente m-b-2 m-t-2 p-t-2 p-b-2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Maria Hernández Yus</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet</mat-card-subtitle>
    </mat-card-header>
  </div>
  <div class="mensaje-paciente m-b-2 m-t-2 p-t-2 p-b-2">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Maria Hernández Yus</mat-card-title>
    <mat-card-subtitle>Lorem ipsum dolor sit amet</mat-card-subtitle>
  </mat-card-header>
</div>
  <div class="mensaje-paciente m-b-2 m-t-2 p-t-2 p-b-2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Maria Hernández Yus</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet</mat-card-subtitle>
    </mat-card-header>
  </div>
  <div class="mensaje-paciente m-b-2 m-t-2 p-t-2 p-b-2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Maria Hernández Yus</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet</mat-card-subtitle>
    </mat-card-header>
  </div>
  <div class="mensaje-paciente m-b-2 m-t-2 p-t-2 p-b-2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Maria Hernández Yus</mat-card-title>
      <mat-card-subtitle>Lorem ipsum dolor sit amet</mat-card-subtitle>
    </mat-card-header>
  </div>
</mat-card>

