.linea-divisoria-agenda{
  background-color: black;
  height: 1px;
  flex: auto;
  opacity: 0.25;
  margin: auto;
  margin-left: 5px;
}
.panel-tarjeta-agenda{
  background-color: #f7f7f7;
  height: 56px;
}
.tarjeta-agenda{
  margin-top: 245px;
}
.nombre-menu-agenda{
  color: #0079c8;
  font-size: 12px;
  text-align: left;
  font-weight: 500;
  line-height: 1.33;
}
.tipo-de-cita-menu-agenda{
  font-size: 10px;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
  color: #6c6e71;

}
span{
  font-size: 11px;
}
.color-card{
  background-color: #e5f1f9;
  height: 100%;
  width: 100%;
}
.example-header-image {
  margin-left: 5px;
  background-image: url("../../assets/img/doctora.png");
  background-size: cover;
}
.mat-card{
  padding: 0;
  box-shadow: none !important;
}
.mat-card-header-text{
  margin: 0;
}
.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title{
  margin-bottom: 5px;
}
.mensaje-paciente{
  box-shadow: 0 1px 0 0 rgba(0,0,0,.14);
}
