<div class="text-black panel-tarjeta-agenda m-b-1">
  <div class="col-md-3 col-lg-2 float-left m-t-2 p-0 m-l-1">
    <img class="" src="../../assets/img/chat@3x.png" width="24" height="24">
  </div>
  <div class="col-lg-7 p-t-2 float-left p-l-0 p-r-0">
    <div class="nombre-menu-agenda">María Hernandez Yus</div>
    <div class="tipo-de-cita-menu-agenda">Hola doctor,me duele...</div>
  </div>
  <div class="col-lg-2 float-left p-0 m-t-2"><span>09:05</span></div>
</div>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
</mat-card>
