<div class="sidenavContainer" [class.app-dark-theme]="isDarkTheme" [class.app-candy-theme]="isCandyTheme" [class.app-custom-theme]="isCustomTheme">
  <mat-sidenav-container class="sidenavContainer">
    <mat-sidenav class="left-nav" id="leftNav" color="primary" #sidenav mode="over">
      <mat-toolbar layout="row" color="primary">
        <h2>
          <span>Side Panel</span>
        </h2>
        <span class="nav-spacer"></span>

        <mat-button-toggle class="close-icon" (click)=sidenav.close()>
          <mat-icon>close</mat-icon>
        </mat-button-toggle>
      </mat-toolbar>
      <nav (onSelected)="setTheme($event)"></nav>
    </mat-sidenav>

    <mat-toolbar class="top-nav" color="primary">
      <button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <div id="navBarTitle">Dashboard</div>
      <span class="nav-spacer"></span>
      <div>Signed in as: AdminUser</div>
      <mat-icon class="nav-icon">
        <div routerLink="/settings" mdTooltip="Settings">settings</div>
      </mat-icon>
      <mat-icon class="nav-icon" mdTooltip="Help">help</mat-icon>
    </mat-toolbar>

    <div class="router-container">
    </div>
  </mat-sidenav-container>
</div>
